{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <ul class="nav nav-pills">
                    <li class="nav-item blue-text"><a href="{{ url('categorie') }}" class="nav-link"><i class="fas fa-home"></i>Accueil</a></li>
                </ul>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1>{{ result.title }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <img src="http://dummyimage.com/400x400/000/fff.jpg&text={{ result.title }}" alt="cover" class="img-fluid card-img-left" />
                <div class="card-body">
                    <p><strong class="text-uppercase">Author :</strong> {{ result.author }}</p>
                    <p><strong class="text-uppercase">Description :</strong> {{ result.decription }}</p>
                    <p><strong class="text-uppercase">Publication date :</strong> {{ result.publicationDate }}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}