{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>Liste des contacts</h1>

                {#
                    app : variable globale donnant accès à des informations de l'application
                    flashes(clé) : raccourci pour accéder aux messages flash de la session
                #}
                {%  for value in app.flashes('notice') %}
                    <p class="alert alert-success">{{ value }}</p>
                {%  endfor %}

                <p>
                    <a href="{{ url('contact.form') }}" class="btn btn-info">Ajouter</a>
                </p>

                <table class="table table-striped">
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Email</th>
                        <th>Message</th>
                        <th>Loisir</th>
                        <th></th>
                    </tr>
                    {% for value in results %}
                        <tr>
                            <td>{{ value.lastname }}</td>
                            <td>{{ value.firstname }}</td>
                            <td>{{ value.email }}</td>
                            <td>{{ value.message }}</td>
                            <td>{# hobbie est un array#}
                                {{ for hobby in value.hobbie }}
                                    {{ hobby.name }}
                                {% endfor %}
                            </td>
                            <td>
                                {#ont many to many renvoie un objet#}
                                {{ value.operatingSystem.name }}
                            </td>
                            <td>
<a href="{{ url('contact.update', { 'id' : value.id } ) }}" class="btn btn-warning">Modifier</a>
                            </td>
                            <td>
                                <a href="{{ url('contact.delete', { 'id' : value.id } ) }}" class="btn btn-danger">Supprimer</a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>
{% endblock %}